<div class="row mb-4">
  <div class="col align-items-center justify-content-between d-flex">
    <span class="page-title">Sản phẩm</span>
  </div>
</div>
<form class="row" [formGroup]="bookForm">
  <div class="col-md-8 col-12">
    <!-- block  -->
    <mat-card class="p-4 mb-4">
      <mat-card-header>
        <mat-card-title>Thông Tin Chung</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-4">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tên sản phẩm</mat-label>
          <input matInput formControlName="BookName" />
        </mat-form-field>
        <div class="quill-input-field">
          <quill-editor matInput
            formControlName="Description"
            [placeholder]="'Nhập mô tả sản phẩm...'"
          ></quill-editor>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- block -->
    <mat-card class="p-4 mb-4">
      <mat-card-header>
        <mat-card-title>Giá Thành</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-4">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Giá</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ex. 120000"
            formControlName="Price"
          />
          <span matSuffix>VNĐ</span>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
<!--    -->
    <mat-card class="p-4 mt-4">
      <mat-card-header>
        <mat-card-title>Thêm hình ảnh</mat-card-title>
      </mat-card-header>
      <mat-card-content>
<!--        -->
        <label class="MainImage" for="MainImage">
          <img
            src="{{ bookForm.get('MainImage').value | url}}"
            *ngIf="!uploadService.imgURL"
           alt=""/>
          <img [src]=" uploadService.imgURL" *ngIf=" uploadService.imgURL" />
          <div class="bg-hover add-image-icon">
            <span class="material-icons">
              add_circle_outline
            </span>
          </div>
          <input
            class="d-none"
            type="file"
            id="MainImage"
            #MainImage
            (change)="uploadService.preview(MainImage.files)"
          />
        </label>
<!--        -->
        <label class="MainImage" for="Image1">
          <img
            src="{{ bookForm.get('Image1').value | url}}"
            *ngIf="!uploadService1.imgURL"
            alt=""/>
          <img [src]=" uploadService1.imgURL" *ngIf=" uploadService1.imgURL" />
          <div class="bg-hover add-image-icon">
            <span class="material-icons">
              add_circle_outline
            </span>
          </div>
          <input
            class="d-none"
            type="file"
            id="Image1"
            #Image1
            (change)="uploadService1.preview(Image1.files)"
          />
        </label>
<!--        -->
        <label class="MainImage" for="Image2">
          <img
            src="{{ bookForm.get('Image2').value | url}}"
            *ngIf="!uploadService2.imgURL"
            alt=""/>
          <img [src]=" uploadService2.imgURL" *ngIf=" uploadService2.imgURL" />
          <div class="bg-hover add-image-icon">
            <span class="material-icons">
              add_circle_outline
            </span>
          </div>
          <input
            class="d-none"
            type="file"
            id="Image2"
            #Image2
            (change)="uploadService2.preview(Image2.files)"
          />
        </label>
<!--        -->
        <label class="MainImage" for="Image3">
          <img
            src="{{ bookForm.get('Image3').value | url}}"
            *ngIf="!uploadService3.imgURL"
            alt=""/>
          <img [src]=" uploadService3.imgURL" *ngIf=" uploadService3.imgURL" />
          <div class="bg-hover add-image-icon">
            <span class="material-icons">
              add_circle_outline
            </span>
          </div>
          <input
            class="d-none"
            type="file"
            id="Image3"
            #Image3
            (change)="uploadService3.preview(Image3.files)"
          />
        </label>
<!--        -->
        <label class="MainImage" for="Image4">
          <img
            src="{{ bookForm.get('Image4').value | url}}"
            *ngIf="!uploadService4.imgURL"
            alt=""/>
          <img [src]=" uploadService4.imgURL" *ngIf=" uploadService4.imgURL" />
          <div class="bg-hover add-image-icon">
            <span class="material-icons">
              add_circle_outline
            </span>
          </div>
          <input
            class="d-none"
            type="file"
            id="Image4"
            #Image4
            (change)="uploadService4.preview(Image4.files)"
          />
        </label>
      </mat-card-content>
    </mat-card>
<!--    -->
  </div>

  <div class="col-md-4 col-12">
    <!-- block -->
    <mat-card class="pb-2 pl-4 pr-4 pt-4">
      <mat-card-header>
        <mat-card-title>Thông tin khác</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-4">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nhà xuất bản</mat-label>
          <mat-select formControlName="AuthorId" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let author of listAuthor" [value]="author.id">
              {{author.authorName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Loại sách</mat-label>
          <mat-select formControlName="CategoryId" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let category of listCategory" [value]="category.id">
              {{category.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Số lượng</mat-label>
          <input type="number" matInput formControlName="Quantity" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>

  </div>
  <app-footer-tool
    [delete]="delete"
    [preUrl]="preUrl"
    [submit]="submit"
    [disabledSubmit]="bookForm.invalid"
  ></app-footer-tool>
</form>
