table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
th{
  font-weight: 700;
  text-align: center;
}
.btnDuyet{
  color: mediumblue;
}
.btnHuy{
  color: red;
}
