<div class="row m-0">
  <div class="dashboard__title">
    <h1 class="mb-1">Xin chào {{profile.name}}</h1>
    <h3>
      Đây là một số thông tin chúng tôi đã thu thập được về cửa hàng của bạn
    </h3>
  </div>
</div>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-facebook rounded">
        <span [style]="{color: 'black'}" class="mini-stat-icon"><i class="fa fa-camera-retro"></i></span>
        <div class="mini-stat-info">
          <span>10</span>
          Tổng đơn hàng
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-twitter rounded">
        <span class="mini-stat-icon"><i class="fa fa-calendar-check"></i></span>
        <div class="mini-stat-info">
          <span>10</span>
          Chờ xử lý
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-googleplus rounded">
        <span class="mini-stat-icon"><i class="fa fa-truck"></i></span>
        <div class="mini-stat-info">
          <span>10</span>
          Đang giao hàng
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-bitbucket rounded">
        <span class="mini-stat-icon"><i class="fa fa-calendar-times"></i></span>
        <div class="mini-stat-info">
          <span>10</span>
          Đã hủy
        </div>
      </div>
    </div>
  </div>
</div>
