<div class="row m-0">
  <div class="dashboard__title">
    <h1 class="mb-1">Xin chào {{profile.name}}</h1>
    <h3>
      Đây là một số thông tin chúng tôi đã thu thập được về cửa hàng của bạn
    </h3>
  </div>
</div>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-facebook rounded">
        <span class="mini-stat-icon"><mat-icon>assignment</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getTotalInvoice()}}</span>
          Tổng đơn hàng
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-twitter rounded">
        <span class="mini-stat-icon"><mat-icon>enhanced_encryption</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getProcessInvoice()}}</span>
          Chờ xử lý
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-googleplus rounded">
        <span class="mini-stat-icon">	<mat-icon>card_giftcard</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getSuccessInvoice()}}</span>
          Đang giao hàng
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-bitbucket rounded">
        <span class="mini-stat-icon"><mat-icon>cancel_presentation</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getCancelInvoice()}}</span>
          Đã hủy
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Thống kê doanh thu và sản phẩm</h3>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-facebook rounded">
        <span class="mini-stat-icon"><mat-icon>attach_money</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getTotalMoney() | formatPrice}}đ</span>
          Tổng doanh thu
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-twitter rounded">
        <span class="mini-stat-icon"><mat-icon>library_books</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getActiveProduct()}}</span>
          Sản phẩm đang bán
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-googleplus rounded">
        <span class="mini-stat-icon">	<mat-icon>info</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getOutstockProduct()}}</span>
          Số sản phẩm hết hàng
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="mini-stat clearfix bg-bitbucket rounded">
        <span class="mini-stat-icon"><mat-icon>block</mat-icon></span>
        <div class="mini-stat-info">
          <span>{{this.getPrivateProduct()}}</span>
          Sản phẩm bị vô hiệu hóa
        </div>
      </div>
    </div>
  </div>
</div>
