@import "../../../variables.scss";

.mat-dialog-container {
  min-width: 320px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-content {
  margin-bottom: 20px;
}

.success {
  color: $themeColor;
}

.error {
  color: red;
}

.confirm {
  color: $themeColor;
}

.confirm-btn {
  background-color: $themeColor;
  color: white;
}

// .close-btn {
//   color: red;
// }
