<div class="user__menu pt-3 mb-4" *ngIf="profile">
  <button mat-button [matMenuTriggerFor]="menu">
    <div class="avatar mr-2">
      <img src="{{ profile.avatar | avatar: 'user'}}" alt="" />
    </div>
    {{ profile.name }}
    <mat-icon class="ml-2">arrow_drop_down</mat-icon>
  </button>
  <!-- #enddocregion mat-menu-trigger-for -->
  <mat-menu #menu="matMenu">
    <button [routerLink]="['profile']" mat-menu-item>Cá nhân</button>
    <button (click)="logout()" mat-menu-item>Đăng xuất</button>
  </mat-menu>
</div>
